assets/* 
generated/*
models/results/history_* 
**/.ipynb_checkpoints 
**/*.avi 
**/*.gif 
**/*.mp4 
**/*.png 
**/*.jpg 
**/*.tif 
**/*.svg 
**/*.DS_Store
**/*.fig 
**/*.mat 
**/*.npy 
**/*.npz 
**/*.pyc 
**/*.hdf5 
**/*.h5 
**/*.db 
**/*.asv 
**/*.roi 
**/*.rtf 
**/*.db 
**/*.pickle 
**/*.zip 
**/checkpoint* 
.*/**
!.gitignore
/staining_model/
/evaluation_backup/
